body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animation {
  font-size: calc(10px + 2vw);
  visibility: hidden;
  animation-name: load;
  animation-duration: 0.05s;
}

@keyframes load {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
